Repository o2sh/onefetch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spenserblack, @o2sh, @cephalonRho, @yoichi, @byron

.github/CODEOWNERS:

/.github/ @spenserblack @o2sh
/image/src/ @cephalonRho @yoichi
/src/info/ @o2sh
/src/info/utils/git.rs @byron
/src/info/langs/language.tera @spenserblack
/languages.yaml @spenserblack @o2sh
/src/cli.rs @spenserblack @o2sh
/vercel/ @spenserblack

remove print
  src/info/langs/mod.rs
Owners: @o2sh

exclude files from churn (#1120)
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/info/author.rs
  src/info/churn.rs
  src/info/git/metrics.rs
  src/info/langs/mod.rs
  src/info/mod.rs
Owners: @spenserblack, @o2sh

update wiki
  .github/wiki/Command-line-options.md
Owners: @spenserblack, @o2sh

cargo changelog --write
  CHANGELOG.md
  ascii/CHANGELOG.md
  image/CHANGELOG.md
  manifest/CHANGELOG.md
Owners: none

apply gradient
  languages.yaml
Owners: @spenserblack, @o2sh

add odin support (#1064)
  languages.yaml
Owners: @spenserblack, @o2sh

Turkish Translations
  README.md
  docs/README.tr.md
Owners: none

Fixed a typo.
  docs/README.tr.md
Owners: none

Fixed a deadlink
  docs/README.tr.md
Owners: none

fix ci, run clippy only in ubuntu stable
  .github/workflows/ci.yml
Owners: @spenserblack, @o2sh

Added Turkish Translations (#1135)
  README.md
  docs/README.tr.md
Owners: none

use workspace inheritance
  Cargo.toml
  ascii/Cargo.toml
  image/Cargo.toml
  manifest/Cargo.toml
Owners: none

use workspace inheritance (#1142)
  Cargo.toml
  ascii/Cargo.toml
  image/Cargo.toml
  manifest/Cargo.toml
Owners: none

Replace tokei with gengo in manifest
  Cargo.lock
  Cargo.toml
Owners: none

Update naming of gengo's currently supported languages
  languages.yaml
Owners: @spenserblack, @o2sh

Remove Bash and Fish
  languages.yaml
Owners: @spenserblack, @o2sh

Remove JSX and TSX
  languages.yaml
Owners: @spenserblack, @o2sh

Remove `type: ` entries
  languages.yaml
Owners: @spenserblack, @o2sh

Remove `LanguageType`
  src/info/langs/language.tera
Owners: @spenserblack

Slugify language names for preview title IDs
  docs/vercel/src/lib/TitleLink.svelte
Owners: none

Bump gengo
  Cargo.lock
Owners: none

Update template
  build.rs
  src/info/langs/language.tera
Owners: @spenserblack

Remove Zsh
  languages.yaml
Owners: @spenserblack, @o2sh

Rename fortran entries
  languages.yaml
Owners: @spenserblack, @o2sh

Make data fns internals that take strings
  build.rs
  src/info/langs/language.tera
Owners: @spenserblack

Bump gengo
  Cargo.lock
  Cargo.toml
Owners: none

2 many changes
  src/cli.rs
  src/info/code_size.rs
  src/info/langs/language.rs
  src/info/langs/language.tera
  src/info/langs/mod.rs
  src/info/mod.rs
  src/ui/mod.rs
  src/ui/printer.rs
Owners: @spenserblack, @o2sh

Fix panic on unsupported languages
  src/info/langs/language.tera
  src/info/langs/mod.rs
Owners: @spenserblack, @o2sh

Rename info line
  src/info/code_size.rs
Owners: @o2sh

Update Ren'Py name
  languages.yaml
Owners: @spenserblack, @o2sh

Update snapshot
  tests/snapshots/repo__repo.snap
Owners: none

Rename `get_circle_color` to `get_chip_color`
  src/info/langs/language.rs
  src/info/langs/language.tera
Owners: @o2sh, @spenserblack

Fix doc comment
  src/info/langs/mod.rs
Owners: @o2sh

upgrade `gix` to v0.52
  Cargo.lock
  Cargo.toml
Owners: none

bump gix-features-for-configuration-only
  Cargo.lock
  Cargo.toml
Owners: none

fix
  docs/vercel/package-lock.json
  docs/vercel/package.json
Owners: none

fix
  docs/vercel/src/lib/AsciiPreview.svelte
  docs/vercel/src/main.ts
Owners: none

fix vercel
  docs/vercel/.eslintrc.json
  docs/vercel/.prettierrc.json
  docs/vercel/index.html
  docs/vercel/src/main.ts
Owners: none

Bump gengo
  Cargo.lock
  Cargo.toml
Owners: none
