Repository o2sh/onefetch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spenserblack, @o2sh, @cephalonRho, @yoichi, @byron

.github/CODEOWNERS:

/.github/ @spenserblack @o2sh
/image/src/ @cephalonRho @yoichi
/src/info/ @o2sh
/src/info/utils/git.rs @byron
/src/info/langs/language.tera @spenserblack
/languages.yaml @spenserblack @o2sh
/src/cli.rs @spenserblack @o2sh
/vercel/ @spenserblack

gix upgrade and optimizations (#1081)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  src/info/author.rs
  src/info/churn.rs
  src/info/commits.rs
  src/info/contributors.rs
  src/info/created.rs
  src/info/git/metrics.rs
  src/info/git/mod.rs
  src/info/git/sig.rs
  src/info/last_change.rs
  src/info/mod.rs
  src/info/utils/git.rs
  src/info/utils/mod.rs
Owners: @spenserblack, @o2sh, @byron

improve bot regex
  src/info/git/mod.rs
Owners: @o2sh

improve bot regex (#1086)
  src/info/git/mod.rs
Owners: @o2sh

fix help message for churn_pool_size
  src/cli.rs
Owners: @spenserblack, @o2sh

extract total_number_of_commits from author map
  src/info/git/metrics.rs
  src/info/git/mod.rs
Owners: @o2sh

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: none

Different graphics for HLSL
  languages.yaml
Owners: @spenserblack, @o2sh

Hlsl support (#1082)
  languages.yaml
Owners: @spenserblack, @o2sh

fix colors c language
  languages.yaml
Owners: @spenserblack, @o2sh

update assets
  assets/screenshot-1.png
  assets/screenshot-2.png
Owners: none

update asset
  assets/screenshot-2.png
Owners: none

update assets
  assets/screenshot-1.png
  assets/screenshot-2.png
Owners: none

Update README.md
  README.md
Owners: none

fix asset size in readme
  docs/README.ar.md
  docs/README.cn.md
  docs/README.es.md
  docs/README.fa.md
  docs/README.fr.md
  docs/README.ja.md
  docs/README.kr.md
  docs/README.ru.md
Owners: none

bump version
  Cargo.lock
  Cargo.toml
  ascii/Cargo.toml
  docs/onefetch.1
  image/Cargo.toml
  manifest/Cargo.toml
Owners: none

update onefetch.dev banner
  docs/vercel/src/Index.svelte
Owners: none

Skip commit when computing diff if blob missing
  src/info/git/mod.rs
Owners: @o2sh

add integration test
  tests/fixtures/make_partial_repo.sh
  tests/repo.rs
Owners: none

fetch banner info from github
  docs/vercel/src/Index.svelte
Owners: none

Assure that `changes()` don't track rewrites which accesses blobs; make filter=blob:none work.
  src/info/git/mod.rs
  tests/fixtures/make_partial_repo.sh
  tests/repo.rs
Owners: @o2sh

fetch banner info from github (#1094)
  docs/vercel/src/Index.svelte
Owners: none

don't fail when computing diff on partial clones (#1093)
  src/info/git/mod.rs
  tests/fixtures/make_partial_repo.sh
  tests/repo.rs
Owners: @o2sh

cargo changelog --write
  CHANGELOG.md
  ascii/CHANGELOG.md
  image/CHANGELOG.md
  manifest/CHANGELOG.md
Owners: none

rename fixture scripts
  src/info/title.rs
  tests/fixtures/basic_repo.sh
  tests/fixtures/make_bare_repo.sh
  tests/fixtures/make_repo.sh
  tests/fixtures/make_repo_without_remote.sh
  tests/repo.rs
Owners: @o2sh

bump version
  Cargo.lock
  Cargo.toml
  ascii/Cargo.toml
  docs/onefetch.1
  image/Cargo.toml
  manifest/Cargo.toml
Owners: none

adjust to breaking changes in `gix`
  src/info/contributors.rs
  src/info/git/metrics.rs
  src/info/git/mod.rs
  src/info/utils/mod.rs
  src/info/version.rs
Owners: @o2sh

add a test for negative dates and see how onefetch handles it.
  tests/fixtures/make_pre_epoch_repo.sh
  tests/repo.rs
Owners: none

feat: support repositories with dates prior to UNIX epoch.
  Cargo.lock
  Cargo.toml
  src/info/utils/mod.rs
Owners: @o2sh

update dependencies, also in the hopes to fix CI caches
  Cargo.lock
Owners: none

add unit test
  src/info/utils/mod.rs
Owners: @o2sh

add a test for negative dates and see how onefetch handles it (#1100)
  Cargo.lock
  Cargo.toml
  src/info/utils/mod.rs
  tests/fixtures/make_pre_epoch_repo.sh
  tests/repo.rs
Owners: @o2sh

Group clap dependency updates
  .github/dependabot.yml
Owners: @spenserblack, @o2sh

Group clap dependency updates (#1101)
  .github/dependabot.yml
Owners: @spenserblack, @o2sh

Group all NPM dependency updates
  .github/dependabot.yml
Owners: @spenserblack, @o2sh

Group all NPM dependency updates (#1110)
  .github/dependabot.yml
Owners: @spenserblack, @o2sh

downgrade prettier
  docs/vercel/package-lock.json
  docs/vercel/package.json
Owners: none

fix npm run check:svelte
  docs/vercel/package.json
Owners: none

fix ci
  .github/workflows/vercel-ci.yml
Owners: @spenserblack, @o2sh

add PAT to badge GH actions #1087
  .github/workflows/language-badge.yml
  .github/workflows/msrv-badge.yml
Owners: @spenserblack, @o2sh

exclude file from churn
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/info/author.rs
  src/info/churn.rs
  src/info/git/metrics.rs
  src/info/langs/mod.rs
  src/info/mod.rs
Owners: @spenserblack, @o2sh
