Repository o2sh/onefetch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spenserblack, @o2sh, @cephalonRho, @yoichi, @byron

Optimize diff implementation
  src/info/mod.rs
  src/info/utils/git.rs
Owners: @o2sh, @byron

Don't fail on missing parent as we want to work in shallow repos, too
  src/info/utils/git.rs
Owners: @byron

Increase performance by decoding the commit only once
  src/info/utils/git.rs
Owners: @byron

track changes on executable files
  src/info/utils/git.rs
Owners: @byron

remove for_each method
  src/info/utils/git.rs
Owners: @byron

use horizontal ellipsis
  src/info/churn.rs
Owners: @o2sh

review
  src/info/author.rs
  src/info/churn.rs
  src/info/langs/language.rs
  src/main.rs
Owners: @o2sh

use MAIN_SEPERATOR when building path
  src/info/churn.rs
Owners: @o2sh

revert
  src/info/churn.rs
Owners: @o2sh

run expensive diffs in parallel and abort them once we run out of time.
  src/info/utils/git.rs
  tests/repo.rs
Owners: @byron

Always calculate at least one diff for 'churn'
  src/info/utils/git.rs
Owners: @byron

improved readability + churn_pool_size CLI flag
  src/cli.rs
  src/info/churn.rs
  src/info/contributors.rs
  src/info/utils/git.rs
Owners: @spenserblack, @o2sh, @byron

fix test
  src/cli.rs
  tests/repo.rs
  tests/snapshots/repo__repo.snap
Owners: @spenserblack, @o2sh

halt if the churn pool size is bigger than the total number of commits
  src/info/utils/git.rs
Owners: @byron

improve readability
  src/cli.rs
  src/info/utils/git.rs
  tests/repo.rs
  tests/snapshots/repo__repo.snap
Owners: @spenserblack, @o2sh, @byron

add unit test
  Cargo.lock
  Cargo.toml
  src/info/utils/git.rs
Owners: @byron

refactor
  src/info/utils/git.rs
Owners: @byron

update to latest `gix` version
  Cargo.lock
  Cargo.toml
Owners: none

Avoid exhaustive memory consumption by sending the commit-id instead of its buffer.
  src/info/utils/git.rs
Owners: @byron

Added File Churn Metric (#1071)
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/info/author.rs
  src/info/churn.rs
  src/info/commits.rs
  src/info/contributors.rs
  src/info/created.rs
  src/info/langs/language.rs
  src/info/last_change.rs
  src/info/mod.rs
  src/info/utils/git.rs
  src/info/utils/info_field.rs
  src/main.rs
  tests/repo.rs
  tests/snapshots/repo__repo.snap
Owners: @spenserblack, @o2sh, @byron

upgrade to latest gix v0.46 and make use of free traversal state.
  Cargo.lock
  Cargo.toml
  src/info/utils/git.rs
Owners: @byron

change: bot commits now provide their commit time to first/most-recent commit information.
  src/info/utils/git.rs
Owners: @byron

refactor retrieval of commit graph information to make output clear
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  src/info/utils/git.rs
Owners: @spenserblack, @o2sh, @byron

refactor retrieval of commit graph information to make output clear
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  src/info/utils/git.rs
Owners: @spenserblack, @o2sh, @byron

remove should_color()
  src/info/author.rs
  src/info/churn.rs
  src/info/description.rs
  src/info/langs/language.rs
  src/info/mod.rs
  src/info/utils/info_field.rs
Owners: @o2sh

compute info_field.value() only once to check if empty
  src/info/mod.rs
Owners: @o2sh

re-use info field value in display method
  src/info/mod.rs
Owners: @o2sh

add unit tests for break_sentence_into_lines
  src/info/description.rs
Owners: @o2sh

Added HLSL language support
  languages.yaml
Owners: @spenserblack, @o2sh

Removed redundant lines
  languages.yaml
Owners: @spenserblack, @o2sh

Feedback fixes for HLSL logo
  languages.yaml
Owners: @spenserblack, @o2sh

refactoring
  src/info/author.rs
  src/info/churn.rs
  src/info/commits.rs
  src/info/contributors.rs
  src/info/created.rs
  src/info/git/metrics.rs
  src/info/git/mod.rs
  src/info/git/sig.rs
  src/info/last_change.rs
  src/info/mod.rs
  src/info/utils/git.rs
  src/info/utils/mod.rs
Owners: @o2sh, @byron

minor
  src/info/git/mod.rs
Owners: @o2sh

cargo fmt
  src/info/churn.rs
  src/info/mod.rs
Owners: @o2sh

remove is_shallow property from GitMetrics
  src/info/commits.rs
  src/info/contributors.rs
  src/info/git/metrics.rs
  src/info/git/mod.rs
  src/info/mod.rs
Owners: @o2sh

Single thread for churn and author summary on main thread
  Cargo.lock
  Cargo.toml
  src/info/git/mod.rs
Owners: @o2sh

process author sig in seperate thread
  src/info/git/mod.rs
Owners: @o2sh

revert
  Cargo.lock
  Cargo.toml
  src/info/git/mod.rs
Owners: @o2sh

refactor
  src/info/git/mod.rs
Owners: @o2sh

explicitly call use_commit_graph and with_commit_graph
  src/info/git/mod.rs
Owners: @o2sh

.github/CODEOWNERS:

/.github/ @spenserblack @o2sh
/image/src/ @cephalonRho @yoichi
/src/info/ @o2sh
/src/info/utils/git.rs @byron
/src/info/langs/language.tera @spenserblack
/languages.yaml @spenserblack @o2sh
/src/cli.rs @spenserblack @o2sh
/vercel/ @spenserblack
