Repository o2sh/onefetch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spenserblack, @o2sh, @CephalonRho, @yoichi, @Byron

.github/CODEOWNERS:

/.github/ @spenserblack @o2sh
/image/src/ @CephalonRho @yoichi
/src/info/utils/git.rs @Byron
/src/info/ @o2sh
/languages.yaml @spenserblack @o2sh
/src/info/langs/language.tera @spenserblack
/src/cli.rs @spenserblack @o2sh
/vercel/ @spenserblack

revert change on Cargo.lock
  Cargo.lock
Owners: none

revert change on main.rs
  src/main.rs
Owners: none

move setup_panic at the top of the main function
  src/main.rs
Owners: none

merge the three writes into one
  src/ui/printer.rs
Owners: none

Disable line wrap (#983)
  src/ui/printer.rs
Owners: none

replace blocked:tokei with upstream as an exempt lable for stale bot
  .github/workflows/stale.yml
Owners: @spenserblack, @o2sh

Prevent conflicts in wiki action
  .github/workflows/wiki.yml
Owners: @spenserblack, @o2sh

Add Pascal support
  languages.yaml
Owners: @spenserblack, @o2sh

Add Pascal support (#989)
  languages.yaml
Owners: @spenserblack, @o2sh

fix typo
  .github/wiki/Ascii-Art.md
  CONTRIBUTING.md
  ascii/src/lib.rs
  image/README.md
  src/info/project.rs
Owners: @spenserblack, @o2sh

fix typo (#992)
  .github/wiki/Ascii-Art.md
  CONTRIBUTING.md
  ascii/src/lib.rs
  image/README.md
  src/info/project.rs
Owners: @spenserblack, @o2sh

use default values in stale workflow
  .github/workflows/stale.yml
Owners: @spenserblack, @o2sh

Add Coldfusion and ColdfusionScript support (#971)
  languages.yaml
Owners: @spenserblack, @o2sh

clean coldfusion ascii logo
  languages.yaml
Owners: @spenserblack, @o2sh

add help sections
  benches/repo.rs
  src/cli.rs
  src/info/mod.rs
  src/main.rs
  src/ui/printer.rs
  tests/repo.rs
Owners: @spenserblack, @o2sh

feat: remove github token from url field
  src/info/url.rs
Owners: @o2sh

fix tests
  src/cli.rs
  src/info/mod.rs
Owners: @spenserblack, @o2sh

remove useless params
  src/cli.rs
Owners: @spenserblack, @o2sh

fix
  src/cli.rs
Owners: @spenserblack, @o2sh

fix
  src/cli.rs
Owners: @spenserblack, @o2sh

add help sections (#995)
  benches/repo.rs
  src/cli.rs
  src/info/mod.rs
  src/main.rs
  src/ui/printer.rs
  tests/repo.rs
Owners: @spenserblack, @o2sh

use pascal case for clap help sections
  src/cli.rs
Owners: @spenserblack, @o2sh

update manpage
  docs/onefetch.1
  src/cli.rs
Owners: @spenserblack, @o2sh

replace --show-logo with --no-art
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/info/mod.rs
  src/ui/printer.rs
Owners: @spenserblack, @o2sh

update package.json
  docs/vercel/package-lock.json
  docs/vercel/package.json
Owners: none

fix tsconfig.json
  docs/vercel/tsconfig.json
Owners: none

fix: support for other git hosting providers
  src/info/url.rs
Owners: @o2sh

replace --show-logo with --no-art (#1002)
  Cargo.lock
  Cargo.toml
  src/cli.rs
  src/info/mod.rs
  src/ui/printer.rs
Owners: @spenserblack, @o2sh

feat: change to regex
  src/info/url.rs
Owners: @o2sh

test: removing access token from url
  src/info/url.rs
Owners: @o2sh

Use snapshot test for token filter
  src/info/test.rs
  src/info/url.rs
  tests/fixtures/repo_with_token_url.sh
  tests/repo.rs
  tests/snapshots/repo__repo_with_token_url.snap
Owners: @o2sh

Remove head from snapshot
  tests/repo.rs
  tests/snapshots/repo__repo_with_token_url.snap
Owners: none

Set snapshot language to plain text
  .gitattributes
Owners: none

Set snapshot language to plain text (#1003)
  .gitattributes
Owners: none

treat multiple name entries with the same email as one author
  src/info/utils/git.rs
Owners: @o2sh

rewritten as functional code
  src/info/utils/git.rs
Owners: @o2sh

accumulate total number of commits in fold
  src/info/utils/git.rs
Owners: @o2sh

feat: function to remove token from url field
  src/info/url.rs
Owners: @o2sh

remove snapshot tests
  src/info/test.rs
  tests/repo.rs
  tests/snapshots/repo__repo_with_token_url.snap
Owners: @o2sh

better panic message
  src/info/created.rs
  src/info/last_change.rs
  src/info/utils/mod.rs
Owners: @o2sh
