Repository o2sh/onefetch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spenserblack, @o2sh, @CephalonRho, @yoichi, @Byron, @HallerPatrick

.github/CODEOWNERS:

/.github/ @spenserblack @o2sh
/src/ui/image_backends/ @CephalonRho @yoichi
/src/info/git.rs @Byron
/src/info/repo @o2sh @Byron
/languages.yaml @spenserblack @o2sh
/templates/language.rs @spenserblack
/src/info/deps/ @HallerPatrick @o2sh
/src/cli.rs @spenserblack @o2sh
/vercel/ @spenserblack

extract functions from Commits struct
  src/info/git.rs
  src/info/repo/contributors.rs
  src/info/repo/last_change.rs
Owners: @Byron, @o2sh

remove authors() func from git.rs
  src/info/git.rs
  src/info/repo/author.rs
Owners: @Byron, @o2sh

move time formatting function to repo/mod.rs
  src/info/git.rs
  src/info/repo/created.rs
  src/info/repo/last_change.rs
  src/info/repo/mod.rs
Owners: @Byron, @o2sh

fix typo
  Cargo.toml
  README.md
  snap/snapcraft.yaml
Owners: none

use associated constants in InfoField trait
  src/info/deps/mod.rs
  src/info/info_field.rs
  src/info/langs/language.rs
  src/info/mod.rs
  src/info/repo/author.rs
  src/info/repo/commits.rs
  src/info/repo/contributors.rs
  src/info/repo/created.rs
  src/info/repo/head.rs
  src/info/repo/last_change.rs
  src/info/repo/license.rs
  src/info/repo/loc.rs
  src/info/repo/pending.rs
  src/info/repo/project.rs
  src/info/repo/size.rs
  src/info/repo/url.rs
  src/info/repo/version.rs
Owners: @HallerPatrick, @o2sh, @Byron
