Repository o2sh/onefetch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spenserblack, @o2sh, @CephalonRho, @yoichi, @Byron

.github/CODEOWNERS:

/.github/ @spenserblack @o2sh
/image/src/ @CephalonRho @yoichi
/src/info/utils/git.rs @Byron
/src/info/ @o2sh
/languages.yaml @spenserblack @o2sh
/src/info/langs/language.tera @spenserblack
/src/cli.rs @spenserblack @o2sh
/vercel/ @spenserblack

remove fixture
  tests/fixtures/repo_with_token_url.sh
Owners: none

cargo fmt
  src/info/url.rs
  tests/repo.rs
Owners: @o2sh

feat: remove github token from url field (#996)
  src/info/url.rs
Owners: @o2sh

better panic message (#1010)
  src/info/created.rs
  src/info/last_change.rs
  src/info/utils/mod.rs
Owners: @o2sh

bump version
  Cargo.lock
  Cargo.toml
  ascii/Cargo.toml
  docs/onefetch.1
  image/Cargo.toml
  manifest/Cargo.toml
Owners: none

update banner
  docs/vercel/src/Index.svelte
Owners: none

cargo changelog --write
  CHANGELOG.md
  ascii/CHANGELOG.md
  image/CHANGELOG.md
  manifest/CHANGELOG.md
Owners: none

cleaning code in git.rs
  src/info/author.rs
  src/info/commits.rs
  src/info/contributors.rs
  src/info/utils/git.rs
Owners: @o2sh

better property name
  src/info/contributors.rs
  src/info/utils/git.rs
Owners: @o2sh

cargo insta accept
  tests/snapshots/repo__repo.snap
Owners: none

add unit tests to git.rs
  src/info/author.rs
  src/info/utils/git.rs
Owners: @o2sh

add
  src/info/mod.rs
Owners: @o2sh

update
  src/info/mod.rs
Owners: @o2sh

Improve code coverage of src/info/mod.rs (#1011)
  src/info/mod.rs
Owners: @o2sh

add
  src/ui/mod.rs
Owners: none

add
  src/ui/mod.rs
Owners: none

update
  .github/workflows/ci.yml
Owners: @spenserblack, @o2sh

revert
  src/ui/mod.rs
Owners: none

update (#1013)
  .github/workflows/ci.yml
Owners: @spenserblack, @o2sh

Improve code coverage of src/ui/mod.rs (#1012)
  src/ui/mod.rs
Owners: none

remove --test-thread arg when running cargo tarpaulin
  .github/workflows/ci.yml
Owners: @spenserblack, @o2sh

update wiki command-line-options
  .github/wiki/Command-line-options.md
Owners: @spenserblack, @o2sh

Added fish git repository greeter script to wiki
  .github/wiki/Getting-Started.md
Owners: @spenserblack, @o2sh

Update .github/wiki/Getting-Started.md
  .github/wiki/Getting-Started.md
Owners: @spenserblack, @o2sh

Update Getting-Started.md
  .github/wiki/Getting-Started.md
Owners: @spenserblack, @o2sh

Added fish git repository greeter script to wiki (#1021)
  .github/wiki/Getting-Started.md
Owners: @spenserblack, @o2sh

don't funcsave internal method
  .github/wiki/Getting-Started.md
Owners: @spenserblack, @o2sh

Revert "don't funcsave internal method"
  .github/wiki/Getting-Started.md
Owners: @spenserblack, @o2sh

Switch from `git-features` to `gix-features`
  Cargo.lock
  Cargo.toml
Owners: none

Switch from `git-features` to `gix-features`
  Cargo.lock
  Cargo.toml
Owners: none

upgrade `gitoxide` to v0.44 for native shallow support and faster repo discovery.
  Cargo.lock
  Cargo.toml
  src/info/mod.rs
  src/info/utils/git.rs
Owners: @o2sh

upgrade gitoxide to v0.44 (and incorporate #1023):x (#1024)
  Cargo.lock
  Cargo.toml
  src/info/mod.rs
  src/info/utils/git.rs
Owners: @o2sh

bump version
  Cargo.lock
  Cargo.toml
  ascii/Cargo.toml
  docs/onefetch.1
  image/Cargo.toml
  manifest/Cargo.toml
Owners: none

cargo changelog --write
  CHANGELOG.md
  ascii/CHANGELOG.md
  image/CHANGELOG.md
  manifest/CHANGELOG.md
Owners: none

Fix 050568f1: run unit tests in generated git repo
  Cargo.lock
  Cargo.toml
  benches/repo.rs
  src/info/mod.rs
  src/info/title.rs
  src/lib.rs
  src/utils.rs
  tests/repo.rs
Owners: @o2sh

Chore: Fix formatting
  benches/repo.rs
  src/info/mod.rs
  src/info/title.rs
Owners: @o2sh

info builder pattern
  src/info/author.rs
  src/info/commits.rs
  src/info/contributors.rs
  src/info/created.rs
  src/info/dependencies.rs
  src/info/description.rs
  src/info/head.rs
  src/info/langs/language.rs
  src/info/last_change.rs
  src/info/license.rs
  src/info/loc.rs
  src/info/mod.rs
  src/info/pending.rs
  src/info/project.rs
  src/info/size.rs
  src/info/url.rs
  src/info/utils/git.rs
  src/info/utils/info_field.rs
  src/info/version.rs
  src/main.rs
  src/ui/text_colors.rs
Owners: @o2sh

fix test
  src/info/mod.rs
  tests/repo.rs
Owners: @o2sh

reorganize methods
  src/info/mod.rs
Owners: @o2sh

docs: add a `cmd.exe` version of the `cd` snippet
  .github/wiki/Getting-Started.md
Owners: @spenserblack, @o2sh
