Repository o2sh/onefetch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spenserblack, @o2sh, @CephalonRho, @yoichi, @Byron

.github/CODEOWNERS:

/.github/ @spenserblack @o2sh
/image/src/ @CephalonRho @yoichi
/src/info/utils/git.rs @Byron
/src/info/ @o2sh
/languages.yaml @spenserblack @o2sh
/src/info/langs/language.tera @spenserblack
/src/cli.rs @spenserblack @o2sh
/vercel/ @spenserblack

fix bench
  benches/repo.rs
Owners: none

docs: update style for all other author credits
  .github/wiki/Getting-Started.md
Owners: @spenserblack, @o2sh

docs: add a `cmd.exe` version of the `cd` snippet (#1048)
  .github/wiki/Getting-Started.md
Owners: @spenserblack, @o2sh

refacto: add info builder pattern (#1047)
  benches/repo.rs
  src/info/author.rs
  src/info/commits.rs
  src/info/contributors.rs
  src/info/created.rs
  src/info/dependencies.rs
  src/info/description.rs
  src/info/head.rs
  src/info/langs/language.rs
  src/info/last_change.rs
  src/info/license.rs
  src/info/loc.rs
  src/info/mod.rs
  src/info/pending.rs
  src/info/project.rs
  src/info/size.rs
  src/info/url.rs
  src/info/utils/git.rs
  src/info/utils/info_field.rs
  src/info/version.rs
  src/main.rs
  src/ui/text_colors.rs
  tests/repo.rs
Owners: @o2sh

docs: fix `cd` snippet for `cmd.exe`
  .github/wiki/Getting-Started.md
Owners: @spenserblack, @o2sh

docs: fix `cd` snippet for `cmd.exe` (#1058)
  .github/wiki/Getting-Started.md
Owners: @spenserblack, @o2sh

fix issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/new_language.yml
Owners: @spenserblack, @o2sh

add Odin
  languages.yaml
Owners: @spenserblack, @o2sh

cargo clippy pedantic
  benches/repo.rs
  src/info/author.rs
  src/info/commits.rs
  src/info/contributors.rs
  src/info/dependencies.rs
  src/info/langs/language.rs
  src/info/langs/mod.rs
  src/info/license.rs
  src/info/loc.rs
  src/info/mod.rs
  src/info/pending.rs
  src/info/project.rs
  src/info/size.rs
  src/info/title.rs
  src/info/url.rs
  src/info/utils/git.rs
  src/ui/printer.rs
Owners: @o2sh

cargo clippy pedantic
  ascii/src/lib.rs
  src/cli.rs
  src/info/head.rs
  src/info/utils/mod.rs
Owners: @spenserblack, @o2sh

cargo clippy pedantic
  src/cli.rs
Owners: @spenserblack, @o2sh

Update languages.yaml
  languages.yaml
Owners: @spenserblack, @o2sh

Update languages.yaml
  languages.yaml
Owners: @spenserblack, @o2sh

rename variable
  src/info/utils/git.rs
Owners: @o2sh

add slight gradient
  languages.yaml
Owners: @spenserblack, @o2sh

Update languages.yaml
  languages.yaml
Owners: @spenserblack, @o2sh

update colors
  languages.yaml
Owners: @spenserblack, @o2sh

add churn metric
  src/info/author.rs
  src/info/churn.rs
  src/info/commits.rs
  src/info/contributors.rs
  src/info/created.rs
  src/info/last_change.rs
  src/info/mod.rs
  src/info/utils/git.rs
  src/info/utils/info_field.rs
Owners: @o2sh

add diff_count
  src/info/utils/git.rs
Owners: @o2sh

revert
  src/info/utils/git.rs
Owners: @o2sh

rename
  src/info/utils/git.rs
Owners: @o2sh

add churn cli flags
  src/cli.rs
  src/info/churn.rs
  src/info/contributors.rs
  src/info/mod.rs
  src/info/utils/git.rs
  tests/snapshots/repo__repo.snap
Owners: @spenserblack, @o2sh

fix integration test
  tests/repo.rs
  tests/snapshots/repo__repo.snap
Owners: none

add unit tests
  src/info/churn.rs
  src/info/utils/git.rs
Owners: @o2sh
