Repository o2sh/onefetch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @spenserblack, @o2sh, @CephalonRho, @yoichi, @Byron

Adjust GLSL ASCII art
  languages.yaml
Owners: @spenserblack, @o2sh

Add GLSL language support #490 (#824)
  languages.yaml
Owners: @spenserblack, @o2sh

smoother curve in glsl logo
  languages.yaml
Owners: @spenserblack, @o2sh

smoother curves glsl logo
  languages.yaml
Owners: @spenserblack, @o2sh

smoother curves glsl logo
  languages.yaml
Owners: @spenserblack, @o2sh

smoother curves glsl logo
  languages.yaml
Owners: @spenserblack, @o2sh

update READMEs
  README.md
  docs/README.ar.md
  docs/README.cn.md
  docs/README.es.md
  docs/README.fa.md
  docs/README.fr.md
  docs/README.ja.md
  docs/README.kr.md
  docs/README.ru.md
Owners: none

upgrade `git-repository` 0.30 to `gix` 0.36
  Cargo.lock
  Cargo.toml
  benches/repo.rs
  src/info/author.rs
  src/info/contributors.rs
  src/info/head.rs
  src/info/mod.rs
  src/info/pending.rs
  src/info/project.rs
  src/info/size.rs
  src/info/title.rs
  src/info/url.rs
  src/info/utils/git.rs
  src/info/utils/mod.rs
  src/info/version.rs
  tests/repo.rs
Owners: @o2sh

upgrade `git-repository` 0.30 to `gix` 0.36 (#963)
  Cargo.lock
  Cargo.toml
  benches/repo.rs
  src/info/author.rs
  src/info/contributors.rs
  src/info/head.rs
  src/info/mod.rs
  src/info/pending.rs
  src/info/project.rs
  src/info/size.rs
  src/info/title.rs
  src/info/url.rs
  src/info/utils/git.rs
  src/info/utils/mod.rs
  src/info/version.rs
  tests/repo.rs
Owners: @o2sh

upgrade `gix` to 0.36.1 to avoid breakage.
  Cargo.lock
  Cargo.toml
  benches/repo.rs
  src/info/title.rs
  tests/repo.rs
Owners: @o2sh

upgrade `gix` to 0.36.1 to avoid breakage. (#965)
  Cargo.lock
  Cargo.toml
  benches/repo.rs
  src/info/title.rs
  tests/repo.rs
Owners: @o2sh

fix #966
  src/info/langs/language.tera
  src/info/langs/mod.rs
Owners: @spenserblack, @o2sh

cargo clippy
  src/info/title.rs
Owners: @o2sh

#966, simplify __stats_loc method
  src/info/langs/language.tera
  src/info/langs/mod.rs
Owners: @spenserblack, @o2sh

remove flags assets
  assets/flags/cn.svg
  assets/flags/es.svg
  assets/flags/fr.svg
  assets/flags/ir.svg
  assets/flags/jp.svg
  assets/flags/kr.svg
  assets/flags/ru.svg
Owners: none

bump version
  Cargo.lock
  Cargo.toml
  ascii/Cargo.toml
  docs/onefetch.1
  image/Cargo.toml
  manifest/Cargo.toml
Owners: none

update vercel banner
  docs/vercel/src/Index.svelte
Owners: none

cargo changelog --write
  CHANGELOG.md
Owners: none

cargo changelog --write
  ascii/CHANGELOG.md
  image/CHANGELOG.md
  manifest/CHANGELOG.md
Owners: none

update wiki
  .github/wiki/Command-line-options.md
Owners: @spenserblack, @o2sh

Add Coldfusion and ColdfusionScript support
  languages.yaml
Owners: @spenserblack, @o2sh

add .tokeignore
  .tokeignore
Owners: none

clean scala logo
  languages.yaml
Owners: @spenserblack, @o2sh

revert last change
  languages.yaml
Owners: @spenserblack, @o2sh

update scala logo
  languages.yaml
Owners: @spenserblack, @o2sh

Changed Hashbang
  tests/fixtures/bare_repo.sh
  tests/fixtures/basic_repo.sh
  tests/fixtures/repo.sh
Owners: none

change label on feature request issue template
  .github/ISSUE_TEMPLATE/feature_request.yml
Owners: @spenserblack, @o2sh

Changed Hashbang (#979)
  tests/fixtures/bare_repo.sh
  tests/fixtures/basic_repo.sh
  tests/fixtures/repo.sh
Owners: none

update link in Readme for help wanted issues
  README.md
  docs/README.ar.md
  docs/README.cn.md
  docs/README.es.md
  docs/README.fa.md
  docs/README.fr.md
  docs/README.ja.md
  docs/README.kr.md
  docs/README.ru.md
Owners: none

update labels in stale workflow
  .github/workflows/stale.yml
Owners: @spenserblack, @o2sh

update labels in stale workflow
  .github/workflows/stale.yml
Owners: @spenserblack, @o2sh

keep only minor version for serde and anyhow
  Cargo.toml
Owners: none

disable line-wrap
  src/main.rs
Owners: none

add panic hook
  src/main.rs
  src/ui/printer.rs
Owners: none

revert change
  src/main.rs
Owners: none

setup panic hook
  Cargo.lock
  Cargo.toml
  src/main.rs
Owners: none

remove panic
  src/main.rs
Owners: none

trim some ascii logos
  languages.yaml
Owners: @spenserblack, @o2sh

simplify logic
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/ui/printer.rs
Owners: none

remove generic constraint
  src/ui/printer.rs
Owners: none

.github/CODEOWNERS:

/.github/ @spenserblack @o2sh
/image/src/ @CephalonRho @yoichi
/src/info/utils/git.rs @Byron
/src/info/ @o2sh
/languages.yaml @spenserblack @o2sh
/src/info/langs/language.tera @spenserblack
/src/cli.rs @spenserblack @o2sh
/vercel/ @spenserblack
